<table width="100%"
       cellspacing="0"
       cellpadding="0"
       style="border-collapse: collapse; width: 100%">
    <tr>
        <td>
            {{t "mail:inviteUser.body.invitationMisfireWarning"}}
        </td>
    </tr>
    <tr>
        <td>
            {{t "mail:inviteUser.body.invitationExpirationWarning" expirationDelayInH=expirationDelayInH}}
        </td>
    </tr>
    <tr>
        <td>
            {{{t "mail:inviteUser.body.linkMessage" link=inviteLink}}}
        </td>
    </tr>
</table>
