<table width="100%"
       cellspacing="0"
       cellpadding="0"
       style="border-collapse: collapse; width: 100%">
    <tr>
        <td>
            {{t "mail:resetPassword.body.resetPasswordPresentation"}}
        </td>
    </tr>
    <tr>
        <td>
            {{ resetCode }}
        </td>
    </tr>
    <tr>
        <td>
            {{ resetMisfireWarning }}
        </td>
    </tr>
</table>
