<view-model attach="about-us-viewmodel" id="about-us">
    <h3 class="h4">The perfect Butler</h3>
{{#> layouts/twoCols }}
    {{#*inline "col-1" }}
        {{#> layouts/twoCols }}
            {{#*inline "col-1" }}
                <div class="card">
                    <svg></svg>
                    <h4 class="h5">Serviceable</h4>
                    <p>Our primary goal is to ensure a seamless integration to our clients, through an impeccable <span class="emphasis service">service</span>, so that most of the burden of administration is lifted from their shoulders and they can manage their company efficiently. Our workflow is built so that its users don’t need to wrack their brains over multiple sections and how to implement their sessions, we show the way forward to prevent hassle and pesky errors. In addition to this, we provide documentation pages with varying media types so that you can find information easily and receive it as is most efficient for you.</p>
                </div>
            {{/inline }}
            {{#*inline "col-2" }}
                <div class="card">
                    <svg></svg>
                    <h4 class="h5">Caring</h4>
                    <p>Beyond this however, we strive to provide <span class="emphasis care">care</span> to our clients, make sure their experience with Pictaccio is as enjoyable and pertinent as possible and that their concerns are treated with the importance they deserve. To achieve this goal, we implemented a feature to request additions to the website that is revised by our developers. While we cannot promise every request will be granted, we take an engagement to review them all seriously to cater to our clients.</p>
                </div>
            {{/inline }}
        {{/layouts/twoCols }}
    {{/inline }}
    {{#*inline "col-2" }}
        {{#> layouts/twoCols }}
            {{#*inline "col-1" }}
                <div class="card">
                    <svg></svg>
                    <h4 class="h5">Honest</h4>
                    <p>We however understand the frustration you can feel when your request is sent and you never receive any feedback, as if it were thrown in limbo. To avoid such situations, we take pride in our <span class="emphasis honesty">honesty</span> and let customers always know what to await from us. Updates on what we plan for the future and what is often requested will be provided periodically, as well as personalized answers to your requests so your concerns are fully answered and you’re not left with false hope for ages.</p>
                </div>
            {{/inline }}
            {{#*inline "col-2" }}
                <div class="card">
                    <svg></svg>
                    <h4 class="h5">Performant</h4>
                    <p>Though a great experience does not mean an amazing product. This is why we ensure <span class="emphasis performance">performance</span> throughout the platform, both on your administrative hub and on the websites you will provide your own clients. Our backend is continually updated so that the most recent and efficient code is used to avoid anything getting deprecated or performance loss through obsolete infrastructure.</p>
                </div>
            {{/inline }}
        {{/layouts/twoCols }}
    {{/inline }}
{{/layouts/twoCols }}
</view-model>
