<div class="footer-navigation-column">
    <h6>Contact</h6>
    <ul>
        <li name="contact-phone">000 000-0000</li>
        <li name="contact-email">hello@pictaccio.com</li>
    </ul>
</div>
<div class="footer-navigation-links-holder">
    <hr class="vertical-separator left center-80">
    <div class="footer-navigation-column">
        <h6>Links</h6>
        <menu>
            <li><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Start</a></li>
            <li><a href="">Documentation</a></li>
        </menu>
    </div>
    <div class="footer-navigation-column">
        <h6>Legal</h6>
        <menu>
            <li><a href="">Terms of Use</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Cookies Policy</a></li>
        </menu>
    </div>
    <div class="footer-navigation-column">
        <h6>FAQ</h6>
        <menu>
            <li><a href="">Help</a></li>
        </menu>
    </div>
</div>
