<view-model attach="functionality-overview-viewmodel" id="functionality-overview" class="section func-overview">
    <div class="col-1">
        <h4 class="h3">Serving you from A to Z</h4>
        <ul class="services">
            <li class="service sessions selected" @click="_service_click('sessions')">Manage Sessions</li>
            <li class="service products" @click="_service_click('products')">Manage Products</li>
            <li class="service orders" @click="_service_click('orders')">Manage Orders</li>
            <li class="service campaigns" @click="_service_click('campaigns')">Campaigns</li>
            <li class="service reports" @click="_service_click('reports')">Reports</li>
        </ul>
        <a>
            <button class="btn btn-primary">
                Want to know more?
            </button>
        </a>
    </div>
    <div class="col-2">
        <div class="container">
            <div class="services">
                <div class="service sessions selected">Streamline your workflow with our Manage Sessions activity. Uploaded photos, background groups, shipping methods, products, and extra options can be seamlessly created, modified, and applied in one interface with Pictaccio!</div>
                <div class="service products">Easily edit pricing, options, sliding scale prices, descriptions, and features for your products. You will have access to a built-in menu to create user-buildable packages and sort your products with a snap of the fingers with our categories options.</div>
                <div class="service orders">Work efficiently with your team on orders to track who is taking care of which order, leave comments for your coworkers, upload photos for digital retrieval and keep your filtering preferences, always looking at what you need.</div>
                <div class="service campaigns">Manage all of your promotions in a single menu. Create codes to provide your customers with discounts and set thresholds for free shipping with a few simple clicks.</div>
                <div class="service reports">Always be at the top of your game with your customers with reports letting you know what they desire and prefer among what you offer. Not even artistic preferences will elude you with our Background popularity report.</div>
            </div>
        </div>
    </div>
</view-model>
