<view-model id="header-navigation" attach="header-navigation-viewmodel">
<nav class="header-navigation">
    <div class="menu" @click="_openNavigationMenu_click">{{> fa-icons/faBars }}</div>
    <menu class="header-navigation-list">
        <li><a href="">About Us</a></li>
        <li><a href="">Start</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="/docs/test1">Documentation</a></li>
        <li><a href="">help</a></li>
        <li class="align-right"><a href=""><span>en</span>/<span>fr</span></a></li>
        <li><a href="">Login</a></li>
    </menu>
</nav>
</view-model>