<view-model attach="hero-viewmodel">
    <section id="hero" class="hero-container">
        <div class="hero-quotes">
            <h1 class="h1">Pictaccio</h1>
            <h2 class="h5">Optimizing your workflow with</h2>
            <h3 class="h6">This program created to help professional photographers with the way they work.</h3>
        </div>
        <div class="logo-container">
            {{> components/logo type="hat-logo" color="monochrome" }}
        </div>
    </section>
</view-model>
