<view-model attach="price-appeal-viewmodel">
    <section class="price-appeal-container section-overflow">
        <div class="price-appeal-price-container">
            <span class="number">400<span class="currency">$</span></span><br>
            <span class="recurrence">/ year</span>
        </div>
        <div class="price-appeal-text-container">
            <h4 class="h4">Our pricing and what you get</h4>
            <p class="text-small">lorem ipsum dolor sit amet, consectetur adipiscing el,
                 sed do eiusmod tempor incididunt ut labore et dolor. lorem ipsum dolor sit amet, consectetur adipiscing el,
                 sed do eiusmod tempor incididunt ut labore et dolor. lorem ipsum dolor sit amet, consectetur adipiscing el,
                 sed do eiusmod tempor incididunt ut labore et dolor. lorem ipsum dolor sit amet, consectetur adipiscing el,
                 sed do eiusmod tempor incididunt ut labore et dolor. </p>
            <div class="features-list-container">
                <ul>
                    <li>things</li>
                    <li>things things</li>
                    <li>things things</li>
                    <li>things</li>
                    <li>things things things</li>
                    <li>things</li>
                    <li><a href="">See more</a></li>
                </ul>
            </div>
            <button class="btn btn-primary">Join now!</button>
        </div>
    </section>
</view-model>