{{> layouts/header }}
<div id="documentation-page">
    {{> layouts/docsNavigation }}
    <main>
        {{{mdToHtml mdDoc }}}
    </main>
    {{> layouts/docsSecondaryNavigation }}
</div>
{{> layouts/footer }}