{{> layouts/header }}
<main style="background-color: var(--color-background-secondary);">
    <section id="faq-header">
        <h1 class="h2">How can we be of service?</h1>
        <div class="header-container">
            <p class="h6">Check this faq</p>
            <a class="h6">Or contact us</a>
        </div>
    </section>
    <div id="background-abstract-holder">
        <svg id="background-abstract" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1254.063 894.85">
            <g transform="translate(-531.191 -289.094)">
                <path d="M16707.01,311.457c-128.836-45.123-187.926-2.456-270.1,105.223s-132.521,33.829-282.364,128.971,51.946,265.73,324.05,324.67,331.756,123.161,399.887,79.221,181.7-258.821,111.25-387.975S16835.846,356.579,16707.01,311.457Z"
                    transform="translate(-14833.422 4695.945) rotate(-16)"
                    fill="hsl(var(--color-accent-secondary-h), 50%, 33%)"/>
                <path d="M15818.823,778.07c4.148-47.707,56-70.523,89.19-60.152s89.41,38.807,60.151,85.042-40.8,78.637-91.265,62.226C15847.677,850.936,15814.675,825.777,15818.823,778.07Z"
                    transform="matrix(0.225, 0.974, -0.974, 0.225, -2179.968, -14912.024)"
                    fill="hsl(var(--color-accent-secondary-h), 50%, 33%)"/>
            </g>
        </svg>
    </div>
    {{> sections/faqSection }}
</main>
{{> layouts/footer }}
