<view-model attach="footer-viewmodel">
    <footer class="footer">
        <div class="footer-wrapper">
            <div class="logo-holder">
                {{> components/logo type="full-logo" color="colored" }}
            </div>
            {{> sections/footerNavigation }}
        </div>
    </footer>
</view-model>