<view-model attach="header-viewmodel">
    <header class="header">
        <a class="logo-icon-link">
            {{> components/logo type="full-logo" color='white' }}
        </a>
        {{> sections/headerNavigation }}
        {{> components/searchBar }}
    </header>
</view-model>