<view-model attach="two-cols-viewmodel" class="section two-cols">
    <div class="col-1" style="flex-basis: {{ col-1-w }}">
        {{> col-1 }}
    </div>
    <div class="col-2" style="flex-basis: {{ col-2-w }}">
        {{> col-2 }}
    </div>
</view-model>
